/* .parentdiv {
  min-height: 100vh;
} */

nav {
  position: fixed;
  background: #2e0052;
  width: 100%;
  height: 50px;
  z-index: 1;
  top: 0%;
}

/* comment */

.navpara-1 {
  position: fixed;
  margin-left: 42%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  margin-top: 1.5%;
  z-index: 2;
}

.logout-text {
  position: relative;
  margin-left: 93%;
  color: #ffffff;
  margin-top: 1%;
  cursor: pointer;
  font-weight: 300;
}

nav a {
  float: right;
  margin-left: -23px;
  margin-top: -16px;
  line-height: 80px;
  margin-right: 30px;
  color: #ffffff;
  text-decoration: none;
}

.home-music-img {
  position: relative;
  margin-top: 6%;
  margin-left: 6%;
  width: 12%;
}

.navpara-2 {
  margin-top: -2.4%;
  margin-left: 19%;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.view-cart-btn {
  margin-left: 85%;
  width: 8%;
  height: 5%;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  position: absolute;
  margin-top: -4%;
}

.img-container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 85%;
  height: 30vh;
  background: linear-gradient(90deg, #7286b4 0%, #e794ce 100%);
  border-radius: 28px;
}

.container-img-1 {
  position: absolute;
  width: 38%;
  margin-top: 2%;
  margin-left: 5%;
}

.container-img-2 {
  position: absolute;
  width: 15%;
  margin-top: 12%;
  margin-left: 5%;
}

.container-img-3 {
  position: absolute;
  width: 29%;
  margin-top: -3%;
  margin-left: 72%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container input[type="text"] {
  width: 80%;
  height: 50px;
  margin-top: 3%;
  background: #ffffff;
  border-radius: 25px;
  outline: none;
  border: 3px solid #c8c8c8;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  padding: 24px 50px;
}

.search-container button img {
  width: 25px;
}

.search-container button {
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  left: 3%;
  margin-top: 3%;
}

.grid-btn1 {
  margin-left: 12%;
  width: 3%;
  height: auto;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 2%;
}

.grid-btn2 {
  position: absolute;
  margin-left: 2%;
  width: 3%;
  height: auto;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 2%;
}

.ddown-container-1 {
  width: 15%;
  height: 38px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  background: #d9d9d9;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-top: 0%;
  margin-left: 23%;
  padding: 10px;
}

.ddown-container-2 {
  position: absolute;
  width: 9%;
  height: 38px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  background: #d9d9d9;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-top: 0%;
  margin-left: 2%;
  padding: 10px;
}

.ddown-container-3 {
  position: absolute;
  width: 9%;
  height: 38px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  background: #d9d9d9;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-top: 0%;
  margin-left: 13%;
  padding: 10px;
}

.ddown-container-4 {
  position: absolute;
  width: 9%;
  height: 38px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  background: #d9d9d9;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-top: 0%;
  margin-left: 24%;
  padding: 10px;
}

.ddown-container-5 {
  position: absolute;
  width: 11%;
  height: 38px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 30px;
  border: 3px solid #e1e1e1;
  outline: none;
  background: #ffffff;
  margin-top: 0%;
  margin-left: 37%;
  padding: 10px;
}

.grid-view-class {
  display: flex;
  flex-wrap: wrap;
  gap: 90% 10%;
  justify-content: space-evenly;
  width: 80%;
  height: 20vh;
  position: relative;
  margin: 0 8%;
  top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10%;
}

.img-bg-box {
  position: relative;
  background-color: #d4e5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130%;
  height: 100%;
}

.img-container-div {
  position: relative;
  display: flex;
  width: 98%;
  height: 25vh;
  margin: 0.5%;
  justify-content: center;
  cursor: pointer;
}

.green-cart {
  border: none;
  color: white;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 45px 28px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.gridViewPara {
  display: none;
}

.gridViewDetailsButton {
  display: none;
}

.listViewContainer {
  display: flex;
  flex-direction: column;
  margin-top: -4%;
}

.listViewImgBox {
  position: relative;
  background-color: #d4e5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 37vh;
  margin-left: 5%;
  margin-top: 10%;
}

.listViewImgDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 38%;
  height: 21vh;
  margin: 0.5%;
  justify-content: center;
  cursor: pointer;
  margin-top: 21%;
  margin-left: 31%;
}

.listViewCartBtn {
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 25px 28px;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  right: -32%;
  bottom: 9%;
}

.listViewProductDetails {
  position: relative;
  margin-left: 30%;
  margin-top: -16%;
}

.listViewPara {
  position: relative;
}

.listViewDetailsButton {
  position: relative;
  width: 10%;
  height: 5vh;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  background-color: #2e0052;
  margin-top: 1%;
}

.homeFotter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2e0052;
  color: white;
  text-align: center;
  padding: 1.5vh 0;
  font-size: 1em;
}

.home-media-btn {
  display: none;
}

.cartmediabtn {
  display: none;
}

.loginmediabtn {
  display: none;
}

.logoutmediabtn {
  display: none;
}

@media screen and (max-width: 600px) {
  
  .hide-on-small-screen {
    display: none;
  }
  
  nav {
    position: fixed;
    background: #2e0052;
    width: 100%;
    height: 60px;
    z-index: 1;
    top: 0%;
  }

  .navpara-1 {
    display: none;
  }

  .nav {
    display: none;
  }

  .logout-text {
    display: none;
  }

  .home-music-img {
    display: none;
  }

  .navpara-2 {
    display: none;
  }

  .view-cart-btn {
    display: none;
  }

  .img-container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 95%;
    height: 15vh;
    background: linear-gradient(90deg, #7286b4 0%, #e794ce 100%);
    border-radius: 18px;
  }

  .green-cart {
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 28px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: -18px;
    bottom: 0;
  }

  .container-img-1 {
    position: absolute;
    width: 58%;
    margin-top: 3%;
    margin-left: 5%;
  }

  .container-img-2 {
    position: absolute;
    width: 24%;
    margin-top: 17%;
    margin-left: 5%;
  }

  .container-img-3 {
    position: absolute;
    width: 42%;
    margin-top: -5%;
    margin-left: 62%;
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-container input[type="text"] {
    width: 60%;
    height: 27px;
    margin-top: -66%;
    background: #ffffff;
    margin-left: 0%;
    border-radius: 9px;
    outline: none;
    border: 0px solid #c8c8c8;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    padding: 18px 50px;
    z-index: 2;
    position: fixed;
  }

  .search-container button img {
    width: 25px;
  }

  .search-container button {
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ffffff;
    cursor: pointer;
    left: 21%;
    margin-top: -66%;
    z-index: 4;
    position: fixed;
  }

  .grid-btn1 {
    display: none;
  }

  .grid-btn2 {
    display: none;
  }

  .buttons-container {
    display: block;
    overflow-x: auto;

    width: 100%;
  }

  .ddown-container-1,
  .ddown-container-2,
  .ddown-container-3,
  .ddown-container-4,
  .ddown-container-5 {
    display: inline-block;
  }

  .ddown-container-1 {
    flex-shrink: 0;
    width: 15%;
    height: 38px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: #d9d9d9;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 3%;
    margin-left: 4%;
    padding: 10px;
  }

  .ddown-container-2 {
    flex-shrink: 0;
    width: 15%;
    height: 38px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: #d9d9d9;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 3%;

    padding: 10px;
    margin-left: 5%;
  }

  .ddown-container-3 {
    flex-shrink: 0;
    width: 15%;
    height: 38px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: #d9d9d9;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 3%;
    margin-left: 23%;
    padding: 10px;
  }

  .ddown-container-4 {
    flex-shrink: 0;
    width: 15%;
    height: 38px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: #d9d9d9;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 3%;
    margin-left: 42%;
    padding: 10px;
  }

  .ddown-container-5 {
    flex-shrink: 0;
    width: 15%;
    height: 38px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    outline: none;
    background: #ffffff;
    margin-top: 3%;
    padding: 10px;
    margin-left: 61%;
  }

  .img-container-div {
    position: relative;
    display: flex;
    width: 98%;
    height: 15vh;
    margin: 0.5%;
    justify-content: center;
    cursor: pointer;
  }

  .img-bg-box {
    position: relative;
    background-color: #d4e5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125%;
    height: 70%;
  }

  .pdDetailsfont {
    font-size: 1em;
  }

  .homeFotter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 1.5vh 0;
    font-size: 1em;
    height: 4%;
  }

  .footerText {
    display: none;
  }

  .home-media-btn {
    position: relative;
    left: 5%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    display: block;
  }

  .home-media {
    position: relative;
    width: 100%;
    height: 6vh;
    margin-left: -3%;
    margin-top: -23%;
  }

  .cartmediabtn {
    position: relative;
    left: 45%;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-top: -10%;
    display: block;
    width: 10%;
  }

  .cartmedia {
    position: relative;
    width: 120%;
    height: 6vh;
    margin-left: -8%;
    margin-top: 3%;
  }

  .logoutmediabtn {
    position: relative;
    left: 83%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: -7%;
    display: block;
    width: 7%;
  }

  .logoutmedia {
    position: relative;
    width: 125%;
    height: 6vh;
    margin-left: -25%;
    margin-top: -30%;

  }

  .loginmediabtn {
    position: relative;
    left: 83%;
    border: none;
    background-color: tomato;
    cursor: pointer;
    margin-top: -7%;
    display: block;
    width: 7%;
  }

  .loginmedia {
    position: relative;
    width: 125%;
    height: 6vh;
    margin-left: -25%;
    margin-top: -30%;
  }
}

@media screen and (max-width: 412px) {
  nav {
    position: fixed;
    background: #2e0052;
    width: 100%;
    height: 60px;
    z-index: 1;
    top: 0%;
  }

  .navpara-1 {
    display: none;
  }

  .nav {
    display: none;
  }

  .logout-text {
    display: none;
  }

  .home-music-img {
    display: none;
  }

  .navpara-2 {
    display: none;
  }

  .view-cart-btn {
    display: none;
  }

  .img-container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21%;
    width: 95%;
    height: 11vh;
    background: linear-gradient(90deg, #7286b4 0%, #e794ce 100%);
    border-radius: 18px;
  }

  .green-cart {
    border: none;
    color: white;
    padding: 0px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 28px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    bottom: 0;
  }

  .container-img-1 {
    position: absolute;
    width: 58%;
    margin-top: 3%;
    margin-left: 5%;
  }

  .container-img-2 {
    position: absolute;
    width: 24%;
    margin-top: 17%;
    margin-left: 5%;
  }

  .container-img-3 {
    position: absolute;
    width: 42%;
    margin-top: -4%;
    margin-left: 62%;
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-container input[type="text"] {
    width: 83%;
    height: 27px;
    margin-top: -75%;
    background: #ffffff;
    margin-left: 1%;
    border-radius: 9px;
    outline: none;
    border: 0px solid #c8c8c8;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    padding: 18px 50px;
    z-index: 2;
    position: fixed;
  }

  .search-container button img {
    width: 25px;
  }

  .search-container button {
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ffffff;
    cursor: pointer;
    left: 10%;
    margin-top: -75%;
    z-index: 4;
    position: fixed;
  }

  .grid-btn1 {
    display: none;
  }

  .grid-btn2 {
    display: none;
  }

  .buttons-container {
    display: block;
    overflow-x: auto;

    width: 100%;
  }

  .ddown-container-1,
  .ddown-container-2,
  .ddown-container-3,
  .ddown-container-4,
  .ddown-container-5 {
    display: inline-block;
  }

  .ddown-container-1 {
    flex-shrink: 0;
    width: 15%;
    height: 30px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: #d9d9d9;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 3%;
    margin-left: 4%;
    padding: 0px;
  }

  .ddown-container-2 {
    flex-shrink: 0;
    width: 15%;
    height: 30px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: #d9d9d9;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 3%;

    padding: 0px;
    margin-left: 5%;
  }

  .ddown-container-3 {
    flex-shrink: 0;
    width: 15%;
    height: 30px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: #d9d9d9;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 3%;
    margin-left: 23%;
    padding: 0px;
  }

  .ddown-container-4 {
    flex-shrink: 0;
    width: 15%;
    height: 30px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: #d9d9d9;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 3%;
    margin-left: 42%;
    padding: 0px;
  }

  .ddown-container-5 {
    flex-shrink: 0;
    width: 15%;
    height: 30px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    outline: none;
    background: #ffffff;
    margin-top: 3%;
    padding: 0px;
    margin-left: 61%;
  }

  .img-container-div {
    position: relative;
    display: flex;
    width: 98%;
    height: 12vh;
    margin: 0.5%;
    justify-content: center;
    cursor: pointer;
  }

  .img-bg-box {
    position: relative;
    background-color: #d4e5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135%;
    height: 65%;
    margin-top: 5%;
    margin-left: -12%;
  }

  .pdDetailsfont {
    font-size: 0.7em;
    margin-top: 5%;
  }

  .homeFotter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 1.5vh 0;
    font-size: 1em;
    height: 4%;
  }

  .footerText {
    display: none;
  }

  .home-media-btn {
    position: relative;
    left: 5%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    display: block;
  }

  .home-media {
    position: relative;
    width: 100%;
    height: 6vh;
    margin-left: -3%;
    margin-top: -23%;
  }

  .cartmediabtn {
    position: relative;
    left: 44%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: -10%;
    display: block;
    width: 10%;
  }

  .cartmedia {
    position: relative;
    width: 165%;
    height: 7vh;
    margin-left: -19%;
    margin-top: -43%;
  }

  .logoutmediabtn {
    position: relative;
    left: 81%;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-top: -12%;
    display: block;
    width: 10%;
  }

  .logoutmedia {
    position: relative;
    width: 165%;
    height: 7vh;
    margin-left: -38%;
    margin-top: -40%;
  }

  .loginmediabtn {
    position: relative;
    left: 81%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: -12%;
    display: block;
    width: 10%;
  }

  .loginmedia {
    position: relative;
    width: 165%;
    height: 7vh;
    margin-left: -38%;
    margin-top: -40%;
  }
}

@media screen and (max-width: 360px) {
  nav {
    position: fixed;
    background: #2e0052;
    width: 100%;
    height: 60px;
    z-index: 1;
    top: 0%;
  }

  .navpara-1 {
    display: none;
  }

  .nav {
    display: none;
  }

  .logout-text {
    display: none;
  }

  .home-music-img {
    display: none;
  }

  .navpara-2 {
    display: none;
  }

  .view-cart-btn {
    display: none;
  }

  .img-container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21%;
    width: 95%;
    height: 9vh;
    background: linear-gradient(90deg, #7286b4 0%, #e794ce 100%);
    border-radius: 18px;
  }

  .green-cart {
    border: none;
    color: white;
    padding: 0px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 28px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    bottom: 0;
  }

  .container-img-1 {
    position: absolute;
    width: 58%;
    margin-top: 3%;
    margin-left: 5%;
  }

  .container-img-2 {
    position: absolute;
    width: 24%;
    margin-top: 17%;
    margin-left: 5%;
  }

  .container-img-3 {
    position: absolute;
    width: 42%;
    margin-top: -4%;
    margin-left: 62%;
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-container input[type="text"] {
    width: 83%;
    height: 27px;
    margin-top: -72%;
    background: #ffffff;
    margin-left: 1%;
    border-radius: 9px;
    outline: none;
    border: 0px solid #c8c8c8;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    padding: 18px 50px;
    z-index: 2;
    position: fixed;
  }

  .search-container button img {
    width: 25px;
  }

  .search-container button {
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ffffff;
    cursor: pointer;
    left: 10%;
    margin-top: -72%;
    z-index: 4;
    position: fixed;
  }

  .grid-btn1 {
    display: none;
  }

  .grid-btn2 {
    display: none;
  }

  .buttons-container {
    display: block;
    overflow-x: auto;

    width: 100%;
  }

  .ddown-container-1,
  .ddown-container-2,
  .ddown-container-3,
  .ddown-container-4,
  .ddown-container-5 {
    display: inline-block;
  }

  .ddown-container-1 {
    flex-shrink: 0;
    width: 15%;
    height: 30px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: #d9d9d9;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 3%;
    margin-left: 4%;
    padding: 0px;
  }

  .ddown-container-2 {
    flex-shrink: 0;
    width: 15%;
    height: 30px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: #d9d9d9;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 3%;

    padding: 0px;
    margin-left: 5%;
  }

  .ddown-container-3 {
    flex-shrink: 0;
    width: 15%;
    height: 30px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: #d9d9d9;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 3%;
    margin-left: 23%;
    padding: 0px;
  }

  .ddown-container-4 {
    flex-shrink: 0;
    width: 15%;
    height: 30px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: #d9d9d9;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 3%;
    margin-left: 42%;
    padding: 0px;
  }

  .ddown-container-5 {
    flex-shrink: 0;
    width: 15%;
    height: 30px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    outline: none;
    background: #ffffff;
    margin-top: 3%;
    padding: 0px;
    margin-left: 61%;
  }

  .img-container-div {
    position: relative;
    display: flex;
    width: 98%;
    height: 10vh;
    margin: 0.5%;
    justify-content: center;
    cursor: pointer;
  }

  .img-bg-box {
    position: relative;
    background-color: #d4e5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135%;
    height: 55%;
    margin-top: 5%;
    margin-left: -12%;
  }

  .pdDetailsfont {
    font-size: 0.65em;
    margin-top: 5%;
  }

  .homeFotter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 1.5vh 0;
    font-size: 1em;
    height: 4%;
  }

  .footerText {
    display: none;
  }

  .home-media-btn {
    position: relative;
    left: 5%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    display: block;
  }

  .home-media {
    position: relative;
    width: 100%;
    height: 6vh;
    margin-left: -3%;
    margin-top: -23%;
  }

  .cartmediabtn {
    position: relative;
    left: 45%;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-top: -12%;
    display: block;
  }

  .cartmedia {
    position: relative;
    width: 185%;
    height: 6vh;
    margin-left: -23%;
    margin-top: -42%;
  }

  .logoutmediabtn {
    position: relative;
    left: 80%;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-top: -12%;
    display: block;
  }

  .logoutmedia {
    position: relative;
    width: 166%;
    height: 7vh;
    margin-left: -20%;
    margin-top: -47%;
  }

  .loginmediabtn {
    position: relative;
    left: 80%;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-top: -12%;
    display: block;
  }

  .loginmedia {
    position: relative;
    width: 166%;
    height: 7vh;
    margin-left: -20%;
    margin-top: -47%;
  }
}
